{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <h1>Vítejte na mé stránce</h1>
        <p>Tato stránka byla vytvořena jako projekt do předmětu APV v roce 2020</p>



    </div>
{/block}