{extends layout.latte}

{block title}Meeting profil{/block}

{block body}
    <div class="container">
        <table>
            <tr>
        <a href="{link meeting_update}?id_meeting={$s['id_meeting']}">
            <button class="btn-sm btn-primary">
                <span>Update</span>
            </button>
        </a>
                </tr>
            <tr>
        <form method="post" onsubmit="return confirm('Are you sure?')" action="{link meeting_delete}?id_meeting={$s['id_meeting']}">
            <button class="btn-sm btn-danger">
                <span>Delete ‍ </span>
            </button>
        </form>
            </tr>
            <tr>
        <a href="{link meetings}">
            <button class="btn btn-secondary">
                <span> ‍Back ‍</span>
            </button>
        </a>
            </tr>
            </table>
    <div class="w3-row-padding">
    <div class="w3-third">
    <h2>Meeting profil</h2>
    <table>
        <tr>
            <th>start:</th>
            <td>{empty($s['start']) ? 'empty' : $s['start']}</td>
        </tr>
        <tr>
            <th>description:</th>
            <td>{empty($s['description']) ? 'empty' : $s['description']}</td>
        </tr>
        <tr>
            <th>duration:</th>
            <td>{empty($s['duration']) ? 'empty' : $s['duration']}</td>
        </tr>
    </table>
    </div>

    <div class="w3-third">
    <h2>Adress</h2>
    <table>
        <tr>
            <th>city:</th>
            <td>{empty($s['city']) ? 'empty' : $s['city']}</td>
        </tr>
        <tr>
            <th>Street name:</th>
            <td>{empty($s['street_name']) ? 'empty' : $s['street_name']}</td>
        </tr>
        <tr>
            <th>Street number:</th>
            <td>{empty($s['street_number']) ? 'empty' : $s['street_number']}</td>
        </tr>
        <tr>
            <th>ZIP:</th>
            <td>{empty($s['zip']) ? 'empty' : $s['zip']}</td>
        </tr>

    </table>
    </div>
        <div class="w3-third">
    <table>
    <h2>Members</h2>
    {foreach $ucastnici as $u}
        <tr>
        <td>
            <th>
                <a href="{link personsProfil}?id_person={$u['id_person']}">
                  {empty($u['first_name']) ? 'empty' : $u['first_name']} {empty($u['last_name']) ? 'empty' : $u['last_name']}
                </a>
            </th>
        </td>
        <td>
            <form method="post" onsubmit="return confirm('Are you sure?')" action="{link memberDelete}?id_meeting={$s['id_meeting']}&id_person={$u['id_person']}">
                <button class="btn-sm btn-danger">
                    <span>Delete ‍ </span>
                </button>
            </form>
        </td>
        </tr>
    {/foreach}

    </table>

<form method="post" action="{link memberAdd}?id_meeting={$s['id_meeting']}" class="form">
                <div class="col-sm-4 form-group">
                    <select required class="form-control" name="id_persons" id="id_persons">
                        {foreach $per as $p}
                            <option value="{$p['id_person']}">{$p['first_name'].' '.$p['last_name']}</option>

                        {/foreach}
                    </select>
                </div>
                <button class="btn-sm btn-dark" type="submit">
                    <span>Add member </span>
                </button>
</form>



    </div>
    </div>


{/block}