{extends layout.latte}

{block title}Meetings list{/block}

{block body}


    <div class="container">
        <h1>Meetings list</h1>
    </div>

    <div class="container">
        <a class="btn btn-success" href="{link newMeeting}">
            Add new meeting
        </a>
    </div>


    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>Start</th>
                <th>Description	</th>
                <th>Duration</th>
                <th>Profil</th>
                <th>Update</th>
                <th>Delete</th>
                <th>Count</th>
               
            </tr>

            {foreach $schuzky as $s}
                <tr>
                    <td>{$s['start']}</td>
                    <td>{$s['description']}</td>
                    <td>{$s['duration']}</td>

                    <td>
                        <a href="{link meetingsProfil}?id_meeting={$s['id_meeting']}">
                            <button class="btn btn-info">
                                <span>Profil</span>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{link meeting_update}?id_meeting={$s['id_meeting']}">
                            <button class="btn-sm btn-primary">
                                <span>Update</span>
                            </button>
                        </a>
                    </td>

                    <td>
                        <form method="post" onsubmit="return confirm('Are you sure?')" action="{link meeting_delete}?id_meeting={$s['id_meeting']}">
                            <button class="btn-sm btn-danger">
                                <span>Delete</span>
                            </button>
                        </form>
                    </td>
                    <div class="a">
                    <td>{$s['countmeeting']}</td>
                    </div>

                </tr>
            {/foreach}

        </div>
    </div>
{/block}