{extends layout.latte}

{block title}Persons list{/block}

{block body}
	<div class="container">
		<h1>Person list</h1>



	</div>
	<div class="container">
		<a class="btn btn-success" href="{link newPerson}">
			Add new person
		</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<table class="table table-stripped table-hover">
					<tr>
						<th>First name</th>
						<th>Last name</th>
						<th>Height</th>
						<th>Gender</th>
						<th>Profil</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>

					{foreach $osoby as $o}
						<tr>
							<td>{$o['first_name']}</td>
							<td>{$o['last_name']}</td>
							<td>{$o['height']}</td>
							<td>{$o['gender']}</td>
							<td>
								<a href="{link personsProfil}?id_person={$o['id_person']}">
									<button class="btn btn-info">
										<span>Profil</span>
									</button>
								</a>
							</td>
							<td>
								<a href="{link persons_update}?id_person={$o['id_person']}">
									<button class="btn-sm btn-primary">
										<span>Update</span>
									</button>
								</a>
							</td>
							<td>
								<form method="post" onsubmit="return confirm('Are you sure?')" action="{link person_delete}?id_person={$o['id_person']}">
									<button class="btn-sm btn-danger">
										<span>Delete ‍ </span>
									</button>

								</form>
							</td>

						</tr>
					{/foreach}


				</table>
			</div>

			<div class="col-md-4">
				<table class="table table-stripped">

					<tr>
						{foreach $countPerson as $cp}
						<th>Total count</th>
						<td>{$cp['countperson']}</td>
						{/foreach}
					</tr>
					<tr>
						{foreach $lastMeeting as $lm}
						<th>Next meeting</th>
							<td>{$lm['lastmeeting']}</td>
						{/foreach}
					</tr>

				</table>
			</div>

		</div>
	</div>
{/block}