{extends layout.latte}

{block title}Person profil{/block}

{block body}
    <div class="container">
    <table>
    <tr>
        <a href="{link persons_update}?id_person={$o['id_person']}">
            <button class="btn-sm btn-primary">
                <span>Update</span>
            </button>
        </a>
    </tr>
    <tr>
        <form method="post" onsubmit="return confirm('Are you sure?')" action="{link person_delete}?id_person={$o['id_person']}">

            <button class="btn-sm btn-danger">
                <span>Delete ‍ </span>
            </button>
        </form>
    </tr>
    <tr>
        <a href="{link persons}">
            <button class="btn btn-secondary">
                <span>‍Back</span>
            </button>
        </a>
    </tr>
    </table>


    <div class="w3-row-padding">
    <div class="w3-third">
        <h2>Person profil</h2>
        <table>
            <tr>
                <th>Firstname:</th>
                <td>{empty($o['first_name']) ? 'empty' : $o['first_name']}</td>
            </tr>
            <tr>
                <th>Lastname:</th>
                <td>{empty($o['last_name']) ? 'empty' : $o['last_name']}</td>
            </tr>
            <tr>
                <th>Nickname:</th>
                <td>{empty($o['nickname']) ? 'empty' : $o['nickname']}</td>
            </tr>
            <tr>
                <th>Birth day:</th>
                <td>{empty($o['birth_day']) ? 'empty' : $o['birth_day']}</td>
            </tr>
            <tr>
                <th>Height:</th>
                <td>{empty($o['height']) ? 'empty' : $o['height']}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>{empty($o['gender']) ? 'empty' : $o['gender']}</td>
            </tr>
        </table>
    </div>

    <div class="w3-third">
    <h2>Adress</h2>
    <table>
        <tr>
            <th>city:</th>
            <td>{empty($l['city']) ? 'empty' : $l['city']}</td>
        </tr>
        <tr>
            <th>Street name:</th>
            <td>{empty($l['street_name']) ? 'empty' : $l['street_name']}</td>
        </tr>
        <tr>
            <th>Street number:</th>
            <td>{empty($l['street_number']) ? 'empty' : $l['street_number']}</td>
        </tr>
        <tr>
            <th>ZIP:</th>
            <td>{empty($l['zip']) ? 'empty' : $l['zip']}</td>
        </tr>
        <tr>
            <th>country:</th>
            <td>{empty($l['country']) ? 'empty' : $l['country']}</td>
        </tr>
    </table>
    </div>

    <div class="w3-third">
<h2>Contacts</h2>
    <table>
           {foreach $kontakty as $con}
        <tr>
            <th>Name of contact:</th>
            <td>{empty($con['name']) ? 'empty' : $con['name']}</td>
        </tr>
        <tr>
            <th>Contact:</th>
            <td>{empty($con['contact']) ? 'empty' : $con['contact']}</td>
        </tr>

           {/foreach}
    </table>
    </div>
    <div class="w3-third">
    <h2>Meetings</h2>
    <table>
        {foreach $schuzky as $s}
            <tr>
                <td><b>START:</b> {empty($s['start']) ? 'empty' : $s['start']}</td>
            </tr>
            <tr>
                <td><b>Decsription:</b> {empty($s['description']) ? 'empty' : $s['description']}</td>
            </tr>
            <tr>
                <td><b>Duration:</b> {empty($s['duration']) ? 'empty' : $s['duration']}</td>
            </tr>
        {/foreach}
    </table>
    </div>
    <div class="w3-third">
<table>
    <h2>Relations</h2>
    {foreach $vztahy as $vz}
        <tr>
         <td>
             <a href="{link personsProfil}?id_person={$vz['id_person1']}">
            This person is {empty($vz['name']) ? 'empty' : $vz['name']}
            </a>
         </td>
        </tr>
        {/foreach}
    </table>

    </div>
    </div>

{/block}