{extends layout.latte}

{block title}Person profil{/block}

{block body}
    <div class="container">





        <table>
            <tr>
        <form method="post" onsubmit="return confirm('Are you sure?')" action="{link person_delete}?id_person={$o['id_person']}">
            <button class="btn-sm btn-danger">
                <span>Delete ‍ </span>
            </button>
        </form>
            </tr>
            <tr>
    <a href="{link relations}">
        <button class="btn btn-secondary">
            <span> ‍Back ‍</span>
        </button>
    </a>
            </tr>

    <div class="w3-row-padding">
    <div class="w3-third">
        <h2>Relation profil</h2>
        <table>
            <tr>
                <th>Person1:</th>
                <td>
                    <a href="{link personsProfil}?id_person={$vztahy['id_person1']}">
                    {empty($vztahy['first_name1']) ? 'empty' : $vztahy['first_name1']} {empty($vztahy['last_name1']) ? 'empty' : $vztahy['last_name1']}
                    </a>
                </td>


            </tr>
            <tr>
                <th>Person2:</th>
                <td>
                    <a href="{link personsProfil}?id_person={$vztahy['id_person2']}">
                        {empty($vztahy['first_name2']) ? 'empty' : $vztahy['first_name2']} {empty($vztahy['last_name2']) ? 'empty' : $vztahy['last_name2']}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Decription:</th>
                <td>{empty($vztahy['description']) ? 'empty' : $vztahy['description']}</td>
            </tr>
            <tr>
                <th>Relation:</th>
                <td>{empty($vztahy['name']) ? 'empty' : $vztahy['name']}</td>
            </tr>

        </table>
    </div>
    </div>
    </div>

{/block}