{extends layout.latte}
{block title}Realations list{/block}
{block body}
    <div class="container">
        <h1>Relations list</h1>
    </div>
    <div class="container">
        <a class="btn btn-success" href="{link newVztah}">
            Add new relation
        </a>
    </div>
    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>Relation</th>
                <th>Person1</th>
                <th>Person2</th>
                <th>Decription</th>
                <th>Profil</th>
                <th>Delete</th>

            </tr>

            {foreach $vztahy as $vz}
                <tr>
                    <td>{$vz['name']}</td>
                    <td>{$vz['first_name1']} {$vz['last_name1']}</td>
                    <td>{$vz['first_name2']} {$vz['last_name2']}</td>
                    <td>{$vz['description']}</td>
                    <td>
                        <a href="{link relationProfil}?id_relation={$vz['id_relation']}">
                            <button class="btn btn-info">
                                <span>Profil</span>
                            </button>
                        </a>
                    </td>


                    <td>
                        <form method="post" onsubmit="return confirm('Are you sure?')" action="{link relation_delete}?id_relation={$vz['id_relation']}">
                            <button class="btn-sm btn-danger">
                                <span>Delete</span>
                            </button>
                        </form>
                    </td>




                </tr>
            {/foreach}

    </div>
    </div>
{/block}